<%= turbo_stream_from :users_batch %>
<header>
  <h1>Create users in batch</h1>
</header>

<main>
<%= form_with model: FileHandler.new, url: users_batch_path do |form| %>
  <%= form.file_field :csv, direct_upload: !reached_limit? %>

  <%= form.submit 'Submit', disabled: reached_limit? %>
<% end %>
</main>

<section>
  <h2>Users</h2>
  <ul>
    <%= turbo_frame_tag 'user_responses' do %>
      <%= render "default" %>
    <% end %>
  </ul>
</section>
